<mat-list>
    <mat-card-header *ngFor="let data of placeDetail">
        <div mat-line>
            <mat-card class="example-card">
                <mat-card-title (click)="updateMap(data.lat,data.lng,data.name)" (click)="getDetails(data)">
                    {{data.name}}
                </mat-card-title>
                <img mat-card-image src="{{data.logo}}">
                <mat-card-content name="data.name" class="rating-text">{{data.value}}</mat-card-content>
                <mat-card-subtitle class="stars">
                    <star-rating value="{{data.value}}" totalstars="5" checkedcolor="orange" uncheckedcolor="grey"
                        size="20px" readonly="true"></star-rating>
                </mat-card-subtitle>
                <mat-card-content>
                    <p>Address:{{data.address}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-header>
</mat-list>

<!-- Details Panel -->
<div (click)="getDetails(data)" *ngIf="openDetailList">
    <mat-card class="clicked">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <button mat-button (click)="closeDetailButton()">Close</button>
            <mat-card-title>{{clickedPlace}}</mat-card-title>
        </mat-card-header>
        <img class="picture" mat-card-image src="{{picture}}">
        <mat-divider></mat-divider>
        <mat-icon>
            <i>directions</i>
            <i>save</i>
            <i>share</i>
        </mat-icon>
        <mat-divider></mat-divider>
        <mat-card-content class="address">
            <p><br><b>Address:</b><br>
                {{clickedAddress}}
            </p>
        </mat-card-content>
        <mat-card-content>
            <p><b>Timings:</b><br>
                {{timings}}
            </p>
        </mat-card-content>
        <mat-card-content><b>Phone Number:</b><br>
            {{number}}
        </mat-card-content>
        <mat-card-subtitle><b>REVIEWS:</b></mat-card-subtitle>
        <mat-card-content *ngFor="let review of reviews">
            <b>Name:</b>{{review.name}}<br><b>Rating: </b>{{review.rating}}<star-rating value="{{review.rating}}"
                totalstars="5" checkedcolor="orange" uncheckedcolor="grey" size="20px" readonly="false"></star-rating>
            <b>Reviews:</b>{{review.comments}}
        </mat-card-content>
    </mat-card>
</div>
<!-- Map section -->
<div #map id="map">
</div>